<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyExchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8693CE4D1C4D2A4400714618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8693CE661C4D2A4500714618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8693CE711C4D2A4500714618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
